@import url('https://fonts.googleapis.com/css?family=Raleway:400,700,800');
.interfaceWrapper {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  overflow: hidden;
}
.interfaceWrapper .interface {
  overflow: hidden;
  max-height: 0px;
  box-shadow: 0 0 0 3px white inset, 0 -4px 7px #ccc inset;
  -webkit-transition: all 1s ease;
  margin-top: 5px;
}
.interfaceWrapper .interface input[type=text] {
  width: 70%;
  height: 1.5em;
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 1px 1px 3px  #ccc;
}
.interfaceWrapper .interface button {
  color: #4E6F7D;
  float: right;
  font-weight: bold;
  margin-right: 5px;
  background-color: #fff;
  border: none;
  padding: 3px;
  box-shadow: 1px 1px 3px  #ccc;
  width: 18%;
}
.interfaceWrapper .interface button:hover {
  background-color: #fafafa;
}
.interfaceWrapper .interface button:active {
  background-color: #dfdfdf;
}
.interfaceWrapper .itemsList {
  font-size: 1em;
  overflow-y: scroll;
  max-height: 80px;
  margin: 3px;
}
.interfaceWrapper .itemsList .item a {
  font-size: 0.7em;
  float: right;
  margin-right: 20px;
}
.droped {
  max-height: 120px !important;
}
* {
  font-family: 'Raleway', sans-serif;
  outline-style: none;
}
body {
  width: 320px;
}
ul {
  padding: 0;
}
.logo-wrapper {
  background-color: #fff;
  margin-left: 5px;
  margin-top: 10px;
}
.logo {
  font-size: 1.5em;
}
.logo strong {
  font-weight: bold;
  color: #4E6F7D;
}
.shedule {
  list-style: none;
}
.active {
  /*background-color: #afa;*/
  border-left: 2px #4E6F7D solid;
  /*box-shadow: 1px 1px 3px #8AFF7E !important; */
}
.completed {
  background-color: #5d5;
}
.note {
  padding: 10px;
  /*padding-bottom: 15px;
  padding-top: 15px;*/
  margin: 3px;
  /*box-shadow: 0 0 3px #ccc;*/
  box-shadow: 1px 1px 3px  #ccc;
  transition: all 0.2s ease-in-out;
}
.note .id {
  display: inline-block;
  width: 20px;
  color: #4E6F7D;
  font-weight: bold;
  /*text-decoration: underline;*/
  margin-right: 20px;
}
.note .body {
  padding-left: 10px;
  border-left: 1px solid #ccc;
  display: inline-block;
  width: 240px;
}
.note:hover {
  transform: scale(1.05);
}
a {
  text-decoration: none;
  color: #4E6F7D;
  border-bottom: 1px dashed #4E6F7D;
}
a:hover {
  color: #6A98AC;
}
